body{
	font-family: monospace;
}
.banner{
	top: 0px;
	width: 100%;
	height: 33%;
	left:0px;
	right:0px;
	z-index:-1;
}
.linkButton{
	display: inline-block;
	border-radius: 4px;
	background-color: #FFFFFF;
	border: none;
	color: #000000;
	text-align: center;
	width:150px;
	font-size: 12px;
	padding: 10px 25px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}
.linkButton span{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.linkButton span:after{
	content: '>>';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition:0.5s;
}
.linkButton:hover span{
	padding-right: 25px;
}
.linkButton:hover span:after{
	opacity: 1;
	right: 0;
}
.projectInfo{
	margin: 20px;
	margin-left: 150px;
	margin-right: 150px;
	padding: 20px;
	border-radius:12px;
	box-shadow: 10px 10px 5px grey;
}
.navbar{
	overflow: hidden;
	background-color: #333;
}
.navbar a{
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.dropdown{
	float: left;
	overflow: hidden;
}
.dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: red;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a:hover {
	background-color: #ddd;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.projectBanners{
	text-align: center;
	margin:15px;
	margin-left: 150px;
	margin-right: 150px;
	padding: 20px;
	border-radius:20px;
	box-shadow: 10px 10px 5px grey;
	color:black;
}

.imgPreview{
     display: inline-block;
     border-radius: 5px;
     margin: 10px;
     cursor: pointer;
     transition: 0.3s;
 }

 .imgPreview:hover{
     transform: scale(1.075);
 }

/* The Modal (background) */
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.caption{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption{
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom{
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content{
        width: 100%;
    }
}

#images{
    text-align: center;
}

